body {
  display: flex;
  justify-content: center;

  background-image: url('../img/iframe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 100vh;
}

iframe {
  margin-top: 150px;
}
